
.labelCampo{
color: white;
font-family: 'Merriweather',serif;
font-size: 15px
}


.titlePlanta{
	font-family: 'Merriweather', serif;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
}

.datosPlanta{
	font-family: 'Merriweather', serif;
	margin-top: 0px;
	color: white;
}

#active{
	color:#6aec32;
}

.black{
	color: black;
    font-family: 'Merriweather', serif;
}
.white{
	color: white;
    font-family: 'Merriweather', serif;
}
.whiteD{
	color: white;
    font-family: 'Merriweather', serif;
	font-size: 15px;
}
.shadowBrownLine{
	-webkit-box-shadow: -1px 10px 17px 4px rgba(103,150,82,1);
-moz-box-shadow: -1px 10px 17px 4px rgba(103,150,82,1);
box-shadow: -1px 10px 17px 4px rgba(103,150,82,1);
}

.shadowBrownLineB{
	-webkit-box-shadow: -1px -13px 17px 4px rgba(103,150,82,1);
-moz-box-shadow: -1px -13px 17px 4px rgba(103,150,82,1);
box-shadow: -1px -13px 17px 4px rgba(103,150,82,1);
}


.divRedondo{
	background-color: #38761d;
}


.divRedondoR{
	float:right;
	background-color: #38761d;

}

.shadowL{
	-webkit-box-shadow: -12px 12px 13px 0px rgba(152,191,136,1);
-moz-box-shadow: -12px 12px 13px 0px rgba(152,191,136,1);
box-shadow: -12px 12px 13px 0px rgba(152,191,136,1);
}

.shadowR{
	-webkit-box-shadow: 13px 12px 13px 0px rgba(152,191,136,0.75);
-moz-box-shadow: 13px 12px 13px 0px rgba(152,191,136,0.75);
box-shadow: 13px 12px 13px 0px rgba(152,191,136,0.75);
}

.divRedondoL{
	float:left;
	background-color: #38761d;
}

.divContenidoR{
	background-color: #6aa84f;
	border-radius: 0px 0px 0px 24px;
}

.divContenidoL{
	background-color: #6aa84f;
	border-radius: 0px 0px 24px 0px;
}
.divContenido{
	background-color: #6aa84f;
	border-radius: 0px 0px 29px 29px;
	-moz-border-radius: 0px 0px 29px 29px;
	-webkit-border-radius: 0px 0px 29px 29px;
	border: 0px solid #000000;
}

.borderTopBrown{
	border-top: 5px solid #b9a11f;
	margin-top: 30px;
}


.greenButton{
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: dashed #38761d;
}



.respaldo{
	border-radius: 0px 200px 200px 0px;
	-moz-border-radius: 0px 200px 200px 0px;
	-webkit-border-radius: 0px 200px 200px 0px;
	border: 0px solid #000000;
    background: -webkit-linear-gradient(#b6d7a8 0%, #a1d54f 50%, #80c217 51%, #38761d 100%);
    background: -o-linear-gradient(#b6d7a8 0%, #a1d54f 50%, #80c217 51%, #38761d 100%);
    background: linear-gradient(#b6d7a8 0%, #a1d54f 50%, #80c217 51%, #38761d 100%);
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
        border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
}


.ejemplo-1 img {
transition: all 0.2s linear;
}

.ejemplo-1:hover img {
transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
}







